# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "d93d5abed9d46751ce4403a1f97d218f"
name = "bundle-components-expander"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products, write_cart_transforms,"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]

# Bundle component configuration for cart transform function
[product.metafields.bundles-price-per-component.function-configuration]
name = "Bundle Component Data"
description = "Array of component variants with their prices and quantity for bundle expander"
type = "json"
access.admin = "merchant_read_write"
